
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.buttons-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color:antiquewhite;
}

.buttons-container a {
        display: block;
        width: 200px;
        text-align: center;
        margin: 10px;
        padding: 15px;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: 5px;
   }

