@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="~/img/criancas-fazendo-robo.jpg" alt="Imagem de fundo">
        </div>
        <div class="buttons-container">
            <h1>Bem vindo</h1>
            <a asp-controller="Home" asp-action="Login">Login</a>
            <a asp-controller="Home" asp-action="Cadastro">Cadastro</a>
        </div>
    </div>
</body>
</html>
